<div class="product-index-grid pt4">
  <% @products.each do |product| %>

    <div class="product border-light">
      <div class="product-thumb">
      <% if product.condition? %>
        <div class="condition">
          <span class="tag is-dark"><%= product.condition %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to product.title, product %></h3>

      <p class="has-text-gray fg pt1">Brand: <%= product.brand %></p>
      <p class="has-text-gray fg pt1">Sold by <%= product.user.name %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= link_to 'Attempt this question', edit_product_path(product), class: "button is-small" %></p>

    </div>
  </div>
  <% end %>
</div>