<!DOCTYPE html>
<html>
  <head>
    <title>Quiz+</title>
    <center>
      <p>Author: Aaron Fisher  |  Email: s3840619@student.rmit.edu.au</p>
    </center>
    
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
     <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-5">Quiz+</h1>
        <% end  %>
        <%= link_to questions_answers_url, class:"navbar-item" do %>
          <h1 class="title is-5">Check your answers</h1>
        <% end  %>
    </div>
  </nav>

  <%= yield(:header) %>

  <div class="container">

    <%= yield %>

  </div>

  </body>
  
<footer>
  <center>
  <p>Attempted level: Pass</p>
  <p><a href="https://facebook.com">Facebook</a>
  <a href="https://twitter.com">Twitter</a>
  <a href="https://linkedin.com">LinkedIn</a></p>
  </center>
</footer>

</html>